:root {
	color: #333333;
	--font-family-montserrat: 'Montserrat', sans-serif;
	--font-family-open-sans: 'Open Sans', sans-serif;
	--font-family-raleway: 'Raleway', sans-serif;

	font-family: var(--font-family-raleway);
}

body {
	background: #f8f8f8;
	margin: 0;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

footer {
	text-align: center;
}

/* Custom CSS for the animation */
@keyframes fadeInSlideUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Class to apply the animation */
.animate-async-reveal {
	animation-name: fadeInSlideUp;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}